{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<h2>Monthly Subscription - 200 KES</h2>

{% if waiting %}
    <p style="color: green; font-size: 18px; text-align: center;">
        Thank you! Your payment has been submitted.<br>
        Waiting for admin approval...
    </p>
{% else %}
    <p>1. Go to MPESA</p>
    <p>2. Send money and enter 0114245222</p>
    <p>3. Copy MPESA code and paste below</p>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="mpesa_code" placeholder="Enter MPESA Code" required>
        <button type="submit">Submit</button>
    </form>
{% endif %}